/*{
	text-align: center;
	What are you selecting here? The entire page if so select html not just
	everything as a whole
}*/


/*Like this*/

html{
	text-align: center;
	background-image: url("grey_wash_wall.png"); 
}

body {
	font-family: Helvetica, sans-serif;
	line-height: 1.5;
	/*color: #878787;*/
	margin: 0;
}

div{
	display: block;
}

header {
  padding-top: 120px;
  padding-bottom: 90px;
  margin-bottom: 50px;
}


h1 {
	font-size:72px;
	font-weight: normal;
	margin-top: 0;
    line-height: 1;
    /*background-color: green; */
    color: white;
    padding: 90px;
    margin-right: auto;
    margin-left: auto;
}

h2{
	font-size: 35px;
	font-weight: lighter;
}

p {
  color: initial;
  line-height: 1.6;
  padding: 0 24%;
}

blockquote{
	text-align: center;
	margin: 30;

}

ul{
	list-style-type: none;
}

li{
	list-style-type: none;
}
.navmenu{
	height: 64px;
	background-color: grey; 
	width: 100%;
	margin: 0 auto;
}

.container{
	width: 960px;
	position: relative;
	margin: 0 auto;
}

.menu-left, .menu-right{
	width: 360px;
	height: 64px;
	position: absolute;
	top: 0;
}

.menu-left{
	left: 200px;
}

.menu-right{
	right: 150px;
}

.navmenu ul{
	list-style: none;
	text-decoration: none;
	font-style: none;
	margin: 0;
	padding: 0;
	height: 64px;
	line-height: 64px;
}

.navmenu ul li a{
	float: left;
	text-decoration: none;
	font-size: 20px;
	font-style: none;
	text-transform: uppercase;
	margin: 0 20px;
	color: white;
}

.menu-right ul li{
	float: right;
}

#logo-container{
	width: 140px;
	height: 128px;
	position: absolute;
	left: 50%;
}

.logo{
	position: relative;
	left: -110px;
	width: 140px;
	height: 128px;
	background: url("logob.png") center center;
	border-radius: 0 0 20px 20px;
	border: 1px; /*lets see what this does*/

}

.logo2{
	position: absolute;
	width: 100%;
	height: 100%;
}

#pic1{
	float: left;
	width: 30%;
	margin-right: 10%;
	margin-left: 19%;
	margin-top: 7.5em;
	margin-bottom: 4.5em;
}

#pic2{
	float: left;
	width: 30%;
	margin-right: 1%;
	margin-top: 7.5em;
	margin-bottom: 4.5em;
}

#designprojects{
	display: block;
	background-color: grey;
	color: white;
	font-size: 16px;
	text-align: left;
	content: '';
	clear: both;
}

#photography{
	display: block;
	background-color: grey;
	color: white;
	font-size: 16px;
	text-align: left;
}



/* Layout for Style Tile
Feel free to change 
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3, 
.imagery-1,
.imagery-2,
.imagery-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

.color-1 {
	background: #046380;
}

.color-2 {
	background: #002F2F;
}
.color-3 {
	background: #A7A37E;
}

.pattern-1 {
	background: url(../img/swirl_pattern.png);
}

.pattern-2 {
	background: url(../img/dark_embroidery.png);
}

.pattern-3 {
	background:#E6E2AF;
}

/* Set Your Own Typography 
.style-tile h1 {
background: #046380;

}*/

/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Clearfix - Oo Not Remove */
.clearfix {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}