*{
	text-align: center;
}
body {
	font-family: Helvetica, sans-serif;
	line-height: 1.5;
	color: #878787;
	margin: 0;
}

header {
	padding-top: 120px;
  padding-bottom: 90px;
  margin-bottom: 50px;
}


h1 {
	font-size:72px;
	font-weight: normal;
	margin-top: 0;
  line-height: 1;
  background-color: green;
 color: white;
 padding: 90px;
 margin-right: auto;
 margin-left: auto;
}
h2{
	font-size: 35px;
	font-weight: lighter;
	margin-bottom: 24px;
	font-color: blue;
}
p {
  color: initial;
  line-height: 1.6;
  padding: 0 24%;
}

blockquote{
	text-align: center;

}