/*GLOBAL*/
body{
	font-family: Verdana, Geneva, sans-serif;
	line-height: 25px;
}

p{
font-family: 'Montserrat', sans-serif;
}
/*NAV*/
nav a:link{
  color: #123159;
  text-decoration: none;
}
nav a:focus{
  border: 2px solid red;
}
nav a:visited{
  color: #4AA2D9;
}
nav a:hover{
  background: #F2994B;
}
nav a:active {
  background: #A64826;
  color: #4AA2D9;
}
/*HOME PAGE*/


/*BIO PAGE*/
.bio h2, 
.bio h3, {
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;

}
.bio h1{
text-transform: uppercase;
letter-spacing: 3px;	
}
.bio section{
	width: 50%;
	float: left;
}
.bio article{
	background: teal;
	margin: 0 auto 0 auto;
	width: 1000px;
}


/*STYLE TILE*/




img{
	max-height: 500px;
	max-width: 500px;
}